<h1>Welcome to my second website!</h1>

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

{% block content %}
{% endblock %}
